
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid segundo">
  <br><br><br>
  <h3>Me llamo Leandro Santiago Otón González y soy Graduado en Ingeniería en Tecnologías de la Telecomunicación
  por la Universidad de Alcalá. 
  Entre mis aficiones destacan el deporte y estoy empezando a desarrollar alguna página Web
  Para saber más sobre mi trayectoria profesional puedes acceder al siguiente link que te llevará a mi página oficial de 
  LinkedIn:</h3>
  <h3><a href="https://es.linkedin.com/in/leandrosantiagootongonzalez">LinkedIn Leandro</a></h3>
  <br><br><br>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Agradecimientos a Borja Martín Fernández por enseñarnos el uso de GitHub
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Información adicional</h3>
      <ul>
        <li>Página creada utilizando el entorno de GitHub</li>
        <li>Primera vez que utilizo GitHub</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Enlaces de interés</h3>
      <ul>
        <li><a href="http://www.runfuncionalxtrem.es">www.runfuncionalxtrem.es</a></li>
        <li><a href="https://es.linkedin.com/in/leandrosantiagootongonzalez">LinkedIn de Leandro Santiago Otón González</a></li>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
{% endblock %}
